<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="" href="~/Css/style.css">
    <title>Portfolio II</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a> 
    </nav>
    <h1>Contact Me!</h1>

    <form>
        <label>Name</label>
        <input type="text"/>
        <label>Email</label>
        <input type="email"/>
        <label>Massges</label>
        <textarea></textarea>

        <button>Send</button>
    </form>

</body>

</html>
