@{
    ViewData["Title"] = "Home Page";
    Layout = "_Defult";
}

@model User
<div class="text-center">

    <div>
        <h1>Register</h1>
        <form asp-action="Create" asp-controller="Home" method="post">
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
    <hr/>
    <div>
        <h1>Log In</h1>
        <form asp-action="Login" asp-controller="Home" method="post">
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input type="submit" value="Log In">
        </form>
    </div>

</div>
