<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="" href="~/css/style.css">
    <title>details</title>
</head>

<body>
    <div>
        <table>
            <tr>
                <td>Your Name:</td>
                <td>@ViewBag.name</td>
            </tr>
            <tr>
                <td>Dojo Location:</td>
                <td>@ViewBag.loc</td>
            </tr>
            <tr>
                <td>Favorite Language:</td>
                <td>@ViewBag.lan</td>
            </tr>
            <tr>
                <td>Comment (optional):</td>
                <td>@ViewBag.com</td>
            </tr>

        </table>

        <a href="/">Back</a>
    </div>
</body>

</html>
