@{
    ViewData["Title"] = "Home Page";
}
@* @model Monster *@
@model List<Monster>

<div class="text-center">
    <h2>Monsters</h2>

    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Monster monster in @Model)
            {
                <tr>
                <td>@monster.Name</td>
                <td>@monster.Height</td>
                <td>@monster.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
