@{
    ViewData["Title"] = "Details";
}
@model Monster

<div class="text-center">
    <h2>Monster Details</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Height</th>
            <td>
                @Model.Height
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                @Model.Description
            </td>
        </tr>
    </table>



</div>
