@{
    ViewData["Title"] = "Home Page";
    //if you want to make difuact layout for just this page
    //Layout = "_main";

}
@* @model int  *@
@model Friend

<div class="text-center">
    @* <h1>My number is: @Model</h1> *@
    <h1 class="display-4">Welcome @Model.FristName @Model.LastName</h1>
</div>
