@{
    ViewData["Title"] = "Home Page";
    //if you want to make difuact layout for just this page
    //Layout = "_main";

}
@model int 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>My number is: @Model</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
