@{
    ViewData["Title"] = "Privacy Policy";
}
@model string 

<h1>@ViewData["Title"]</h1>
<h1>@Model</h1>
<h1>@Context.Session.GetString("Username")</h1>

<p>Use this page to detail your site's privacy policy.</p>
