@{
    ViewData["Title"] = "Home Page";


}


<div class="text-center">
  
    @* <form action="registerWizard" method="post">
        <label>Your Name:</label>
        <input type="text" name="name">
        <label>House:</label>
        <select name="house">
            <option value="Gryffindor">Gryffindor</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
            <option value="Hufflepuff">Hufflepuff</option>
        </select>
        <label>Year:</label>
        <input type="number" name="year">
        <input type="submit" value="Submit" />
    </form> *@

    <form action="registerWizard" method="post">    
    <label>Your Name:</label>    
    <input type="text" name="Name">   <!-- updated -->  
    <label>House:</label>    
    <select name="House">  <!-- updated -->       
        <option value="Gryffindor">Gryffindor</option>        
        <option value="Ravenclaw">Ravenclaw</option>        
        <option value="Slytherin">Slytherin</option>        
        <option value="Hufflepuff">Hufflepuff</option>    
    </select>    
    <label>Year:</label>    
    <input type="number" name="CurrentYear">  <!-- updated -->   
    <input type="submit" value="Submit"/>
</form>
</div>
