@{
    ViewData["Title"] = "Create Wedding";
}
@model Wedding

<div class="text-center">
    <form asp-controller="Message" asp-action="Create" method="post">
        <input asp-for="UserId" value="@Context.Session.GetInt32("UserId")" hidden />

        <div>
            <label asp-for="MessageText">Post a message</label>
            <textarea asp-for="MessageText"></textarea>
            <span asp-validation-for="MessageText"></span>

        </div>
        <div>
            <input type="submit" value="Post" />
        </div>
    </form>
</div>
