@{
    ViewData["Title"] = "Event Form";
}
@model Events

<div class="text-center">
    <form action="new" method="post">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title">
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Date"></label>
            <input asp-for="Date">
            <span asp-validation-for="Date"></span>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
